* {
	padding:0;
	margin:0;
}

#content {
    overflow: hidden;
    position: absolute;
    top: 64px;
    bottom: 0px;
    width: 100%;
}

nav .brand-logo {
    padding-left: 10px;
}

.search-field input {
    margin: 0;
}

#bigmap {
	position: absolute;
	width: 100%;
	height: 100%;
}

.leaflet-control-zoom {
	display:none;
}

#autocomplete {
	position: absolute;
	left:0rem;
	top:4rem;
	padding-left:0.5rem;
	padding-right:0.5rem;
	background: rgba(255, 255, 255, 0.9);
	display: block;
	width:20rem;
	font-size:1.4rem;
	line-height: 1.8rem;
	display: none;
    z-index: 1000;
    color: #000;
}

#autocomplete li {
	list-style-type: none;
	cursor: pointer;
}

.autocomplete_ul {
	display: block;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}

.more_on_osm {
	font-size: 80%;
}

.more_on_osm a {
	text-decoration: none;
	color: #CD59F7;
}
